{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
<h1>Registration successful</h1>
<p>Thank you for registering for the conference!</p>
<p>You will receive an automated message confirming your submission.
	Soon afterwards, we will get in touch personally to describe the next
	steps in registering for the conference.</p>
<p>
	<img src="{{ STATIC_URL }}images/brown_quiet_green.jpg"
		alt="Brown University campus" />
</p>
<p style="font-size: 60%">
	<a href="http://www.flickr.com/photos/genemoo/2070533087/">Source</a>
</p>
{% endblock %}