{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h1>About Us</h1>
<p>
	BUCS is the result of years of experience attending and hosting Model
	United Nations and crisis conferences. The Model United Nations club is
	one of the largest student organizations at Brown University. For many
	years, we have hosted <a href="http://www.busun.net/">BUSUN</a>, our
	high school conference, which is attended by nearly 800 students from
	around the United States. Over 100 volunteers work to make this
	conference happen and have gained valuable expertise in the process. In
	addition, our traveling team attends many conferences every year
	&mdash; from Harvard to Berkeley, as well as in Canada, Germany, and
	Hong Kong, among others. As a result, we know exactly what it takes to
	have a top-notch Model UN conference, and we will work tirelessly to
	make sure BUCS provides the best possible experience on the collegiate
	conference circuit.
</p>

<h2>Secretariat</h2>
<p>We are:</p>
<ul>
	<li>Kevin O'Brien and Samantha Powell <br /> <i>Co-Secretaries-General</i></li>
	<li>Shaan Ahmed<br /> <i>Under-Secretary General</i></li>
	<li>Francis Suh<br /> <i>Director General</i></li>
	<li>Yao Liu<br /> <i>Director of Finance</i></li>
	<li>Matt Ryklin<br /> <i>Director of Publications</i></li>
	<li>Sam Davidoff-Gore<br /> <i>Director of Outreach</i></li>
	<li>Nathan Malkin<br /> <i>Director of Decorum</i></li>
</ul>

<!--
<h2>Staff</h2>
<p>&nbsp;</p>
-->

<h2>Get involved!</h2>
<p>
	Are you a Brown student who wants to get involved in BUCS, or Model UN
	in general?<br /> Come to one of the club's general body meetings
	&mdash; every Monday at 9 PM. Everybody is welcome!
</p>
<p>
    If you're interested in helping out with BUCS, please get in touch! 
    We're always looking for more people to get involved.
</p>
{% endblock %}
