{% extends "base.html" %}

{% block title %}Committees &amp; Resources{% endblock %}

{% block content %}
<h1>Conference Committees</h1>
<p>BUCS 2012 will offer four joint crises:</p>
<ol>
    <li><a href="#egypt">Project Egypt: Rebuilding a Nation</a></li>
    <li><a href="#europe">A Game of Thrones: The One Hundred Years War</a></li>
    <li><a href="#mexico">La violencia, los narcóticos, y la política: e Mexican Drug War</a></li>
    <li><a href="#nato">NATO 2025: Testing The Alliance</a></li>
</ol>

<div class="committee_info">

<a name="egypt"></a><h2>Project Egypt: Rebuilding a Nation</h2>
<p>It is 2012, the year that the Mayans said the world would end, but for Egyptians, could it be the dawn of a democratic era? 2012 Egypt is caught in the crossroads of change. The Supreme Council for the Armed Forces (SCAF) wields significant questionable power, and raises the question of whether the those at Tahrir Square have been able to achieve the vision Egyptians did not have under Mubarak. In this interconnected crisis, you will have the chance to play an instrumental role in crafting the vision of the new Egypt as you work towards building a new constitution. Will you push Egypt too far, leading to blowback from the old Mubarak elites or too little, just ceding ground to the same? Or will you chart new ground, pushing Egypt into a new legal, political and cultural era?</p>

<h3>Director</h3>
<ul>
    <li>Haakim Nainar</li>
</ul>


<a name="europe"></a><h2>A Game of Thrones: The One Hundred Years War</h2>
<p>It is the year 1337 AD, and Europe is on the brink of war.  In the wake of the recent death of the Valois monarch Charles IV, two rivals vie for the throne of France.  Edward III, king of England and nephew of Charles IV through his mother Isabella,  considers himself the rightful heir.  The French refuse to accept a foreign monarch and, citing a competing version of feudal law, crown Philip VI as king.  The English are short on funds, having recently quelled a Scottish rebellion.  Philip VI, mindful of this momentary weakness, has eyes on English possessions on the mainland and also wishes to return his ally David II to the throne of Scotland.  Can the two sides resolve the situation through negotiation, or is war inevitable?</p>

<h3>Director</h3>
<ul>
    <li>Manu Venkateswaran</li>
</ul>


<a name="mexico"></a><h2>La violencia, los narcóticos, y la política: The Mexican Drug War</h2>
<p>Since the 1990s, the largest and most active battleground in the ongoing war on drugs has been in Mexico, where powerful drug cartels clash with each other over drug trafficking routes into the United States. At the same time, the Mexican government struggles to stem the constant violence between the cartels, as the US government focuses on blocking trafficking routes. In the midst of such seemingly endless turmoil, is a lasting solution for all sides even possible? Put your ideas to the test at BUCS.</p>

<h3>Directors</h3>
<ul>
    <li>Abishek Kulshreshtha</li>
    <li>Soumya Ghosh</li>
</ul>
 

<a name="nato"></a><h2>NATO 2025: Testing The Alliance</h2>

<p>The year is 2025. The North Atlantic Treaty Organization (NATO) has expanded to include Ukraine and Georgia as members, despite fierce objections and threatening rhetoric from the government of the Russian Federation. US foreign policy has become increasingly isolationist as a result of domestic politics, budget cuts, and the withdrawal of military personnel from US bases across much of the world, a stark change from past patterns of political and military intervention. Tensions are high between Russia and NATO states due to Russia's territorial disputes with Ukraine and Georgia, Russian opposition to the presence of NATO's anti-ballistic missile systems in Eastern Europe, and longstanding issues of energy security. The stage is set for a confrontation. Can Russia and NATO resolve their issues diplomatically? Will NATO members step up to protect the sovereignty of their fellow member states? Can NATO hold its own without the guarantee of US military involvement?</p>

<h3>Directors</h3>
<ul>
    <li>Christopher Dederick</li>
    <li>Tatiana Gaspar de Souza</li>
</ul>

</div>

{% endblock %}
