{% extends "base.html" %}

{% block title %}Committees &amp; Resources{% endblock %}

{% block content %}
<h1>Conference Committees</h1>
<p>BUCS 2012 will offer six joint crises:</p>
<ol>
    <li><a href="#tamil_tigers">Tamil Tigers</a></li>
    <li><a href="#european_union">European Union</a></li>
    <li><a href="#china_india">Sino-Indian Conflict: 2022</a></li>
    <li><a href="#iran">Iranian Council</a></li>
    <li><a href="#napoleon">Napoleonic Europe</a></li>
    <li><a href="#corporate">Men, Money and Munitions: a Corporate Crisis</a></li>
</ol>

<div class="committee_info">

<a name="tamil_tigers"></a><h2>Tamil Tigers</h2>

<p>The early 1990s. In Sri Lanka, three powerful sides are facing off, and the stakes are high. The Tamil Tigers, a separatist organization, are at the peak of their influence, with the support of a significant portion of Sri Lankans behind them.  The Sri Lankan government is in a desperate struggle to defeat the rebels and preserve unity.  India is backing and funding the Sri Lankan government's resistance to the Tamil Tigers, despite internal pressure.  The stability of the entire region is in jeopardy. How will you help your side succeed?</p>

<img src="{{ STATIC_URL }}images/crises/tamil_tigers.png" alt="Tamil Tigers" />

<h3>Committees</h3>
<ul>
    <li>Tamil Tigers</li>
    <li>Sri Lanka</li>
    <li>India</li>
</ul>

<h3>Director</h3>
<ul>
    <li>Sahir Zaveri</li>
</ul>
 
<a name="european_union"></a><h2>European Union</h2>
<p>Begun as an effort to strengthen the region's economies, the European Union appeared to accomplish the impossible: bringing together feuding nations after centuries of near-constant unrest.  Though the opening of borders and the unification of currency strengthened Europe, they left it with a host of new problems.  The financial crisis in Ireland and Greece has sent ripples across the continent, as nations try to come to grips with high unemployment and soaring debt.  Unrest in North Africa tops headlines and is fueling immigration concerns. The situation seems to be waiting but for a spark.  How you as a leader deal with these and other looming crises will determine the fate of the EU.</p>

<img src="{{ STATIC_URL }}images/crises/eu.png" alt="European Union" />

<h3>Committee</h3>
<ul>
    <li>Council of the European Union</li>
</ul>

<h3>Directors</h3>
<ul>
    <li>Anatol Gudenus</li>
    <li>Dora Jericevic</li>
</ul>

<p id="spacer">&nbsp;</p>

<a name="china_india"></a><h2>Sino-Indian Conflict: 2022</h2>
<p>As a result of decades of growth, China and India have become the second and third largest economies of the world, respectively. Their political clout and global influence have grown. At the same time, both countries are rivals, competing for influence, resources, and economic domination. Both have militarized significantly. Any conflict that breaks out will send the financial markets and the international community into turmoil.  The United States, focused on maintaining its global influence and global stability, often finds itself as the fulcrum balancing both nations. Can China and India continue to grow peacefully or will their competing interests bring them to conflict? To what extent will the U.S. and Pakistan be able to act as the balance between the two nations? You will decide.</p>

<img src="{{ STATIC_URL }}images/crises/sino_indian.png" alt="Sino-Indian Conflict" />

<h3>Committees</h3>
<ul>
    <li>China</li>
    <li>India</li>
    <li>United States</li>
    <li>Pakistan</li>
</ul>

<h3>Directors</h3>
<ul>
    <li>Nikilesh Eswarapu</li>
    <li>Francis Suh</li>
</ul>

 
<a name="iran"></a><h2>Iranian Council</h2>
<p>Iran today faces numerous internal and external pressures.  Unrest among students has flared up continuously over the last few years, while the United States, along with the international community, is strengthening sanctions against Iran.  Even naval movements within its own territorial waters has garnered international attention. The Iranian government must put its own house in order and address the hostility Iran faces in the international community. How clerical leaders like the Ayatollah and political leaders like President Ahmadinejad confront these challenges to maintain a balance between the Koran and secular modernization will determine what role the Islamic Republic will play in a rapidly changing Middle East and West Asia.</p>

<img src="{{ STATIC_URL }}images/crises/iran.png" alt="Iran" />

<h3>Committee</h3>
<ul>
    <li>Guardian Council of the Constitution</li>
</ul>

<h3>Director</h3>
<ul>
    <li>Nasim Azizgolshani</li>
</ul>

<p id="spacer">&nbsp;</p>

<a name="napoleon"></a><h2>Napoleonic Europe</h2>
<p>The year is 1805 and Napoleon Bonaparte, Emperor of the French, is at the height of his power. After his historic victory over the Third Coalition at Austerlitz, peace has been established in Europe — but at the price of forced alliances and constant threats.   Whispers pierce the fragile quiet in royal courts across the continent.  Take on the role of Emperor, Duke, or General and lead your nation to greatness.  Will you remain loyal to Napoleon and his Imperial Guard, or will you seek a separate path together with the defiant Brits and Russians?</p>

<img src="{{ STATIC_URL }}images/crises/napoleon.png" alt="Napoleonic Europe" />

<h3>Committees</h3>
<ul>
    <li>Council of State</li>
    <li>Coalition</li>
</ul>

<h3>Directors</h3>
<ul>
    <li>Raaj Parekh</li>
    <li>Manu Venkateswaran</li>
</ul>


<a name="corporate"></a><h2>Men, Money and Munitions</h2>
<p>Take a seat on the executive board of one of the most powerful defense contractors in the world. These companies not only develop and protect some of the most valuable defense secrets science has to offer, but also manage billions of dollars in investment while carefully situated to capitalize on conflict and despair. Managing a company like this is a remarkable balancing act, but what happens when it all goes awry? You and your board will navigate through scandal, espionage, fraud and more to ultimately determine whether you, your company and your country will survive.</p>

<img src="{{ STATIC_URL }}images/crises/corporate.png" alt="Corporate Crisis" />

<h3>Note</h3>
<ul>
    <li>This committee is recommended for experienced crisis delegates.</li>
</ul>

<h3>Directors</h3>
<ul>
    <li>Angad Kochar</li>
    <li>Michael Perchonok</li>
</ul>

</div>

<h1>More Information</h1>
<p>Interested in the crises but want more information? Don't hesitate to 
<a href="http://mailhide.recaptcha.net/d?k=01A26o5T9EXBk7FSv5AbbqAA==&c=49VqJSWhfanM4_VZvpsVC2DBxZdZidhj6od73pZh9Ec="
				onclick="window.open('http://mailhide.recaptcha.net/d?k=01A26o5T9EXBk7FSv5AbbqAA==&c=49VqJSWhfanM4_VZvpsVC2DBxZdZidhj6od73pZh9Ec=', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
				title="Click to show the contact e-mail address">contact us</a>.
Or, check back here in the Fall, when background guides are posted with more detailed information.
{% endblock %}
