{% extends "base.html" %}

{% block title %}BUCS{% endblock %}

{% block content %}
<h1>Welcome to the Brown University Crisis Simulation!</h1>

<div id="updatebox" style="width: 600px">
	<p>
        <b>Are you ready for BUCS 2013?</b><br>
        Follows us on
        <a href="https://twitter.com/BrownCrisis">Twitter</a>
        and <a href="http://www.facebook.com/browncrisis">Facebook</a>
        to keep up with the latest news.
	</p>
</div>

<div id="ataglance">
	<a name="ataglance"></a>
	<h2>The conference at a glance</h2>

	<p class="bold">Who?</p>
	<ul>
		<li>One hundred college students from across the United States
			and around the world</li>
	</ul>

	<p class="bold">What?</p>
	<ul>
		<li>Joint crises: you will have to respond to decisions made by
			other committees</li>
		<li>Settings for all tastes: modern, historical, and futuristic</li>
		<li>Small committees: no more than 20 people each</li>
	</ul>

	<p class="bold">Where?</p>
	<ul>
		<li><a href="http://www.brown.edu/">Brown University</a><br />
			Providence, Rhode Island</li>
		<li>Providence is served by <span title="PVD">T.F. Green
				International Airport</span> and is also easily accessible from Boston's <span
			title="BOS">Logan International Airport</span>.</li>
	</ul>

	<p class="bold">When?</p>
	<ul>
		<li>Thursday, February 28, 2013 <br> &ndash; Sunday, March 3, 2013</li>
	</ul>
</div>

<div id="welcomeletter">
	<p>Dear delegates and faculty advisors,</p>
	<p>
    It gives us great pleasure to welcome you all to Brown University Crisis Simulation 2013!  Set on Brown University’s historic Providence, Rhode Island campus BUCS will be held from Thursday, February 28th to Sunday, March 3rd 2013.

	</p>
	<p>
    BUCS has always been driven by a delegate-first philosophy and we once again strive to provide students with a unique and amazing Model UN experience.  At the heart of this is our joint crisis committee structure that puts you in the drivers seat. Our dedicated crisis staff has worked tirelessly to create a number of exciting simulations from the past, present and future, some traditional and some more creative.
	</p>
	<p>
    Together with other intellectual and passionate students from around the world, delegates will assume crucial roles within one of our carefully created interconnected committees and tasked with the kind of constant decision-making and reaction demanded by the fast-paced environment in which crises unfold. Delegates will engage in intense negotiation and debate that we hope will push the limits of cooperation, adaptability, and creativity. 
	</p>
	<p>
    Yet we know that the conference experience extends beyond the committee room. From the champagne reception to club night, delegates will have the opportunity to practice their diplomacy in the friendlier and less stressful environs of our amazing private social events, perhaps even learning fellow delegates’ real names!
	</p>
	<p>
    With our dedication to delegate experience, we sincerely hope that you will join us this February for what promises to be a uniquely exciting and unforgettable Model UN experience. If you have any questions at all, please do not hesitate to contact us. On behalf of the entire conference staff, we look forward to personally welcoming you to Brown next spring for BUCS 2013!
	</p>
	<p>
    Sincerely,
	</p>
	<p style="font-style: italic">
		Kevin O'Brien and Samantha Powell<br> Co-Secretaries General <br> BUCS 2013
	</p>
</div>

<hr />
<p>
	<b>Stay updated with BUCS!</b><br /> Would you like to be informed
    when information is posted and reminded of major deadlines? 
	Follow us 
    <a href="http://www.facebook.com/pages/Brown-University-Crisis-Simulation-BUCS/159771590750167"
		onclick="return facebook();">on Facebook</a>
	or <a href="https://twitter.com/BrownCrisis">on Twitter</a>!
</p>

<iframe id="facebook_frame"
	src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBrown-University-Crisis-Simulation-BUCS%2F159771590750167&amp;width=500&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=275"
	scrolling="no" frameborder="0"
	style="border: none; overflow: hidden; width: 500px; height: 275px; display: none"
	allowTransparency="true;"></iframe>

<script type="text/javascript">
function facebook() {
    var fb_box = document.getElementById('facebook_frame');
    if(fb_box.style.display == 'none') {
        fb_box.style.display = 'block';
        return false;
    } else {
        return true;
    }
}
</script>
{% endblock %}
