{% extends "base.html" %}

{% block title %}BUCS{% endblock %}

{% block content %}
<h1>Welcome to the Brown University Crisis Simulation!</h1>

<div id="updatebox" style="width: 385px">
	<p>
        <b>Background guides</b>
        <a href="/committees">have been posted</a><br />
        <b>Late registration</b>
        spots are <a href="/registration">still available</a> 
	</p>
</div>

<div id="ataglance">
	<a name="ataglance"></a>
	<h2>The conference at a glance</h2>

	<p class="bold">Who?</p>
	<ul>
		<li>One hundred college students from across the United States
			and around the world</li>
	</ul>

	<p class="bold">What?</p>
	<ul>
		<li>Joint crises: you will have to respond to decisions made by
			other committees</li>
		<li>Settings for all tastes: modern, historical, and futuristic</li>
		<li>Small committees: no more than 20 people each</li>
	</ul>

	<p class="bold">Where?</p>
	<ul>
		<li><a href="http://www.brown.edu/">Brown University</a><br />
			Providence, Rhode Island</li>
		<li>Providence is served by <span title="PVD">T.F. Green
				International Airport</span> and is also easily accessible from Boston's <span
			title="BOS">Logan International Airport</span>.</li>
	</ul>

	<p class="bold">When?</p>
	<ul>
		<li>Thursday, March 8, 2012 <br /> &ndash; Sunday, March 11,
			2012</li>
	</ul>
</div>

<div id="welcomeletter">
	<p>Dear delegates and faculty advisors,</p>
	<p>It gives us great pleasure to welcome you to the 2012 Brown
		University Crisis Simulation (BUCS) in the historic city of
		Providence, Rhode Island. BUCS strives to bring together delegates
		from all around the world and engage them in intense negotiation and
		debate in the context of a fast-paced joint crisis environment.</p>
	<p>
		What makes BUCS unique compared to other Model UN conferences is its
		structure: <a href="/committees">joint crises for delegates of all
			interests</a>, with modern, historical, and futuristic topics. Delegates
		will assume crucial roles on one of our interconnected committees in
		each joint crisis, constantly reacting and making decisions in
		response to real-time directives from our dedicated team of crisis
		staff. Each delegate’s decisions have the potential to affect not
		only how events unfold for their committee but also events in other
		committees and the flow of the joint crisis altogether. What results
		is truly an experience centered on you, the delegate, as you use
		diplomacy, force, and guile to further your interests and bring the
		crisis to a favorable resolution.
	</p>
	<p>BUCS is not just a four-day model UN conference. It provides the
		setting for hundreds of intellectual, like-minded individuals with
		similar interests to collaborate and learn from each other. With
		interconnected committees, the inherent nature of the joint crises,
		and fun social events, we believe BUCS 2012 will be an unforgettable
		experience, both in and out of committee sessions.</p>
	<p>
		We hope you will <a href="registration">join us in 2012</a> for what
		promises to be an exciting and enriching Model UN experience. If you
		have any questions at all, please do not hesitate to
		contact us. On behalf of the whole staff of the conference, we look forward to
        personally welcoming you to Brown next spring.
	</p>
	<p style="font-style: italic">
		Mark Hu &amp; Nathan Malkin<br /> Secretaries-General for BUCS 2012
	</p>
</div>

<hr />
<p>
	<b>Stay updated with BUCS!</b><br /> Would you like to be informed
    when information is posted and reminded of major deadlines? 
    <a href="http://www.facebook.com/pages/Brown-University-Crisis-Simulation-BUCS/159771590750167"
		onclick="return facebook();">Follow us on Facebook</a>!
</p>

<iframe id="facebook_frame"
	src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FBrown-University-Crisis-Simulation-BUCS%2F159771590750167&amp;width=500&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=275"
	scrolling="no" frameborder="0"
	style="border: none; overflow: hidden; width: 500px; height: 275px; display: none"
	allowTransparency="true;"></iframe>

<script type="text/javascript">
function facebook() {
    var fb_box = document.getElementById('facebook_frame');
    if(fb_box.style.display == 'none') {
        fb_box.style.display = 'block';
        return false;
    } else {
        return true;
    }
}
</script>
{% endblock %}
