{% extends "base.html" %}

{% block title %}Conference Logistics{% endblock %}

{% block content %}
<h1>Conference Logistics</h1>
<p>
    <ul>
        <li><a href="#location">Location</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#hotels">Hotels</a></li>
        <li><a href="#entertainment">Entertainment Options</a></li>
    </ul>
</p>

<a name="location"></a>
<h2>Location</h2>
<p>BUCS 2012 will be held on the picturesque campus of Brown University,
	an Ivy League institution located in Providence's College Hill
	neighborhood. Brown University is located 5 minutes away from the heart
	of Providence, a city known for its many eateries, vibrant nightlife,
	and historical sites. Staying in downtown Providence and attending
	committee sessions on the Brown campus, delegates will enjoy all the
	amenities that this New England city has to offer and have the
	opportunity to experience some of the interesting traditions that make
	Brown students the happiest in the nation.</p>

<a name="schedule"></a>
<h2>Schedule</h2>
<p>The following is a tentative schedule for the conference. Specific
	times may change in the coming months as events are added or changed.</p>

<p>
	<strong>Thursday, March 8th, 2012</strong>
</p>
<table class="schedule_table">
	<tr>
		<td style="width: 200px;">Registration and Check-In</td>
		<td>5:00 pm - 7:00 pm</td>
	</tr>
	<tr>
		<td>Champagne Reception</td>
		<td>6:15 pm - 7:00 pm</td>
	</tr>
	<tr>
		<td>Opening Ceremonies</td>
		<td>7:00 pm - 8:00pm</td>
	</tr>
	<tr>
		<td>Committee Session I</td>
		<td>8:15 pm - 11:00 pm</td>
	</tr>
</table>

<p>
	<strong>Friday, March 9th, 2012</strong>
</p>
<table class="schedule_table">
	<tr>
		<td style="width: 200px;">Walking tour of Providence</td>
		<td>10:30 am - 12:00 pm</td>
	</tr>
	<tr>
		<td>Committee Session II</td>
		<td>1:00 pm - 4:00 pm</td>
	</tr>
	<tr>
		<td>Committee Session III</td>
		<td>4:30 pm - 7:00 pm</td>
	</tr>
	<tr>
        <td><a href="#pub_night">Dinner and Pub Night</a></td>
		<td>8:00 pm - 10:00 pm</td>
	</tr>
</table>

<p>
	<strong>Saturday, March 10th, 2012</strong>
</p>
<table class="schedule_table">
	<tr>
		<td style="width: 200px;">Committee Session IV</td>
		<td>9:00 am - 12:00 pm</td>
	</tr>
	<tr>
		<td>Committee Session V</td>
		<td>1:00 pm - 4:00 pm</td>
	</tr>
	<tr>
		<td>Committee Session VI</td>
		<td>4:30 pm - 7:00 pm</td>
	</tr>
	<tr>
        <td><a href="#club_night">Club Night</a></td>
		<td>10:00 pm - 1:00 am</td>
	</tr>
</table>

<p>
	<strong>Sunday, March 11th, 2012</strong>
</p>
<table class="schedule_table">
	<tr>
		<td style="width: 200px;">Committee Session VII</td>
		<td>9:00 am - 11:30 am</td>
	</tr>
	<tr>
		<td>Closing Ceremonies</td>
		<td>12:00 pm - 1:30 pm</td>
	</tr>
</table>


<a name="hotels"></a>
<h2>Hotels</h2>
<p>BUCS attendees receive a special deal at the 
<a href="http://www.marriottprovidence.com/">Providence Marriott</a>.
Please contact us for more information.</p>


<a name="entertainment"></a>
<h2>Entertainment Options</h2>

<a name="pub_night"></a>
<h3>Dinner and Pub Night</h3>
<p>
Come relax after a long day in committee at McFadden's Restaurant and Saloon
on Friday from 8pm-10pm for the BUCS Pub Night! In addition to providing bar food &mdash; wings, quesadillas, cheesesticks, crab rangoons &mdash; BUCS will be hosting an exclusive Trivia Night. Prizes will include free drink tickets for Saturday's club night as well as the coveted Trivia: Best Delegation Gavel!
</p>

<p> 
<a href="http://mcfaddensprovidence.com/">McFadden's</a>,
one of Providence's most popular bars, is located at 52 Pine St. Providence, RI.
</p>


<a name="club_night"></a>
<h3>Club Night</h3>
<p>
Dance the night away with that special someone you met in committee at BUCS's Club Night! Come to Bravo Brasserie's Lounge from 10pm-1:30am on Saturday night to hear Brown's own DJ Postal spinning a progressive mix of top 40, house, techno, dubstep, hip-hop, popular music and everything in between. DJ Postal has been co-signed by everyone from Diddy to Rihanna and continues to escalate his credentials.
</p>

<p>
<a href="http://www.bravobrasserie.com/">Bravo</a>,
a hotspot for Brown students, is located at 123 Empire St. Providence, RI.
</p>

{% endblock %}
