{% extends "base.html" %}

{% block title %}Registration Information{% endblock %}

{% block content %}
<h1>Registration Information</h1>
<p>This page contains information about registering for BUCS 2013.</p>

<h2>Register Online</h2>
<p>
	Ready? <a style="font-size: 130%; font-weight: bold"
		href="/registration/form">Register now!</a>
</p>

<h2>Registration Timeline</h2>
<ul>
	<li>Summer 2012 <br /> Registration opens</li>
	<li>Fall 2012 <br /> Background guides published</li>
	<li>October 1, 2012 <br /> Early registration deadline</li>
	<li>February 1, 2013 <br /> Regular registration deadline</li>
	<li>February 15, 2013 <br /> Late registration deadline</li>
	<li>February 2013 <br /> Due date for position papers</li>
	<li>February 28 - March 3, 2013 <br /> BUCS!</li>
</ul>

<h2>Fees</h2>
<p>
	Early registration <i>(deadline: October 1)</i>
</p>
<ul>
	<li>Delegation fee: $60</li>
	<li>Delegate fee: $60</li>
</ul>

<p>
	Regular registration <i>(deadline: February 1)</i>
</p>
<ul>
	<li>Delegation fee: $80</li>
	<li>Delegate fee: $60</li>
</ul>

<p>
	Late registration <i>(deadline: February 15)</i>
</p>
<ul>
	<li>Delegation fee: $100</li>
	<li>Delegate fee: $60</li>
</ul>

<p>Delegation fee due within 30 days of registration and are nonrefundable.</p>
<p>Delegate fees due within 60 days of registration. Delegate fees are refundable up until February 1, after which fees are nonrefundable.</p>

{% endblock %}
