{% extends "base.html" %}

{% block title %}Registration Information{% endblock %}

{% block content %}
<h1>Registration Information</h1>
<p>This page contains information about registering for BUCS 2012.</p>

<h2>Register Online</h2>
<p>
	Ready? <a style="font-size: 130%; font-weight: bold"
		href="/registration/form">Register now!</a>
</p>

<h2>Registration Timeline</h2>
<ul>
	<li>March 2011 <br /> Committees and topics published</li>
	<li>May 2011 <br /> Registration opens</li>
	<li>Fall 2011 <br /> Background guides published</li>
	<li>November 30, 2011 <br /> Early registration deadline</li>
	<li>January 31, 2012 <br /> Regular registration deadline</li>
	<li>February 2012 <br /> Due date for position papers</li>
	<li>March 8-11, 2012 <br /> BUCS!</li>
</ul>

<h2>Fees</h2>
<p>
	Early registration <i>(deadline: November 30)</i>
</p>
<ul>
	<li>Delegation fee: $60</li>
	<li>Delegate fee: $60</li>
</ul>

<p>
	Regular registration <i>(deadline: January 31)</i>
</p>
<ul>
	<li>Delegation fee: $80</li>
	<li>Delegate fee: $80</li>
</ul>

<p>Fees are fully refundable while registration is open. After
	registration closes, penalties apply.</p>
{% endblock %}