{% extends "no-nav.html" %}

{% block title %}Committee Assignments{% endblock %}

{% block content %}
<h2><a href="/school/{{ school.short_name }}">{{ school }}</a> &gt; Committee Assignments</h2>

{% if assignments %}
<form method="POST" action="">
{% csrf_token %}
<table>
    <tr>
        <th>Crisis</th>
        <th>Committee</th>
        <th>Role</th>
        <th>Delegate</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
        <td>{{ assignment.role.committee.crisis }}</td>
        <td>{{ assignment.role.committee.name }}</td>
        <td>{{ assignment.role.role }}</td>
        <td><input type="text" name="a_{{ assignment.pk }}" value="{{ assignment.delegate_name }}" placeholder="Enter delegate name here" /></td>
    {% endfor %}
</table>
<p><input type="submit" value="Save changes" /></p>
</form>
{% else %}
<p>No commitee spots have been assigned to your delegation.
If you believe this is in error, please contact
<a href="mailto:info@browncrisis.org">info@browncrisis.org"</a></p>
{% endif %}

{% endblock %}
