{% extends "no-nav.html" %}

{% block title %}Dues and Payments{% endblock %}

{% block content %}
<h2><a href="/school/{{ school.short_name }}">{{ school }}</a> &gt; Dues and Payments</h2>

<p>The table below reflects our record of your dues and payments. 
If there is an error, or you have questions, contact us at 
<a href="mailto:info@browncrisis.org">info@browncrisis.org</a>.</p>

<table>
    {% for item in dues %}
    <tr>
        <td>{{ item.description }}</td>
        <td>${{ item.amount }}</td>
        <td></td>
     </tr>
    {% endfor %}
    {% for item in payments %}
    <tr>
        <td>{{ item.description }}</td>
        <td></td>
        <td>${{ item.amount }}</td>
     </tr>
     {% endfor %}
     <tfoot>
         <tr>
             <td>Total due</td>
             <td colspan="2" style="text-align: center">${{ total }}</td>
         </tr>
     </tfoot>
</table>
{% endblock %}
